<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169820721988-1ojlg0k8rq4g84naalk50pm4vl9v4dc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169820721988-1ojlg0k8rq4g84naalk50pm4vl9v4dc9</string>
	<key>API_KEY</key>
	<string>AIzaSyDLa9dBvHYcAAnhDn4MFlaXC1PKfiEaN5M</string>
	<key>GCM_SENDER_ID</key>
	<string>169820721988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.modi.trendymovies.terndyMovies</string>
	<key>PROJECT_ID</key>
	<string>trendy-movies</string>
	<key>STORAGE_BUCKET</key>
	<string>trendy-movies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169820721988:ios:e9c4bea531ae3b69f23d11</string>
</dict>
</plist>